{
    "extends": ["airbnb", "plugin:flowtype/recommended"],
    "plugins": [
      "flowtype"
    ],
    "parserOptions": {
      "sourceType": "module"
    },
    "rules": {
      "arrow-body-style": "off",
      "no-underscore-dangle": "off",
      "strict": [2, "global"]
    },
    "settings": {
      "flowtype": {
        "onlyFilesWithFlowAnnotation": true
      }
    },
    "env": {
      "node": true
    }
  }
